<div class="row">
	<main class="col-md-12">
		<br>
		<article>
			<header>
				<h1>About</h1>
			</header>
			<p>
				Aloha, you've found the about page. This is where I introduce myself.
			</p>
		</article>
		<article>
			<header>
				<h2>Who am I?</h2>
			</header>
			<p>
				My name is Nate Joshua. I'm currently enrolled in Seneca's BTT program. I'm an Indonesian currently living in Canada. I love movies, trains, my dog and stray cats.
			</p>
		</article>
	</main>
</div>