<div class="row">
    <main class="col-md-12">
        <br>
        <center>
                <header>
                <h1>404 Error LMAO</h1>
            </header>
            <img src="./media/cat_error.gif" alt="A kitten having a headache" style="width:400px">
        </center>
    </main>
</div>