<div class="row">
	<main class="col-md-12">
		<br>
		<article>
			<header>
				<h1>Welcome to my website</h1>
			</header>
			<p>
				This website was made for Web700 class, to demonstrate the principles of HTML5 and routing with Express.
			</p>
		</article>
		<article>
			<header>
				<h2>So what does this site have?</h2>
			</header>
			<p>
				This website contains three static views (Home, About and HTMLDemo) as well as five routes that supply
				data from .json files containing student and course information. We can view all students, search students
				by course, search a single student by their student number, search students that are TAs and view all courses. See below for the links to these parts of the website:
			</p>
			<ul>
				<li><a href="/">Home page (This page!!!)</a></li>
				<li><a href="/about">About page</a></li>
				<li><a href="/htmldemo">HTMLDemo</a></li>
				<li><a href="/students">All students</a></li>
				<li><a href="/students?course=5">Students from a random course</a></li>
				<li><a href="/tas">Students who are also teaching assistants</a></li>
				<li><a href="/courses">All courses</a></li>
				<li><a href="/student/90">A random student</a></li>
			</ul>
		</article>
		<article>
			<header>
				<h3>About this site and HTML5</h3>
			</header>
			<p>
				This is site is designed using HTML5. HTML is a markup language widely used by websites across the Internet.
			</p>
		</article>
	</main>
</div>